# This is a comment
# All this stuff will be ignored
# Instructions
# 1) All the Fields with single value should be first
# like static-host static-port, images, format, api-port, banner, etc, etc
# 2) Comments needs to have blank lines above and below non-comment text

# image-host is the static web host for images with FQDN of the folder in which images are stored.
# The structure of folder which contains images is defined in README.md

image-host
http://red-carpet.udaan16.in/images

# web-host is the FQDN of the website

web-host
http://localhost

year
16

api-ip
localhost

api-port
7216

image-format
png

# about contains an absolute or relative path to a file whose contents are to be displayed in About Us page of the website

about
sample_about.txt

# banner contains the path of image on index page excluding the extension(extension should be of image-format type)

banner
banner

# Starting of categories, first line is category name, followed by list of nominees

Rising Star
Harsh Vora
Harshil Jani
Megha Patel
Megh Shah

Sports Icon
Jatan Patel
Niralee Bhatt
Vikas Dhangda
Abhishek Rawat

# If the category has both male and female, : Gender must be at the end of category name

Face of the Year: Male
Kushal Chaudhary
Harshal Patel
Udit Patel
Parth Joshi

Face of the Year: Female
Eva Khakhkhar
Kruti Doshi
Khadija Attaria
Azmeen Bhabharawala

Style Icon: Male
Aksh Sharma
Jaymin Bhrambhatt
Keval Tank
Dipesh Jhala

Style Icon: Female
Sujata Zalavadiya
Ishita Ghodasara
Mayank Mittal
Priyanka Patel

Artist of the Year: Male
Kinjal Panchal
Vishal Kamdi
Vatsal Trivedi
Shubham Dhar

Artist of the Year: Female
Megha Dave
Niharika Modi
Sambridhidhi Singh
Jainy Shah

Persona: Male
Yash Pandya
Abhishek Kumar
Apoorva Parikh
Kunal Thanki

Persona: Female
Prachi Jhala
Manva Pradhan
Ritu Chhipa
Aishwarya Jain